.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.textContainer h1 {
  font-size: 96px;
}
.textContainer p {
  font-size: 20px;
}
.brand {
  width: 500px;
  height: 50px;
  position: inherit;
  filter: grayscale(1);
}
.imageContainer {
  flex: 1;
  position: relative;
}
.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }
  .brand {
    width: 100%;
  }
}
